/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================================*/

body{
	/*ukuranfont/lineheight,jarak antar baris*/
	font: 16px/28px arial, sans-serif;
	background-color: slateblue;
	color: #333;
}
.topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #87CEFA;
	border-bottom: 5px solid tomato;
	z-index: 9999;

}
.container {
	width: 960px;
	margin: 80px auto;
	background-color: white;
	position: relative;
}

.twitter{
	width: 200px;
	height: 200px;
	background-image: url(img/twitter.png);
	display: inline-block;
	background-repeat: no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: -14px;
	right: -90px;
}


.header {
	padding: 20px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}

.header ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: salmon;
	font-weight: bold;
	padding: 4px;
}

.header a:hover{
	background-color: lightskyblue;
	
}
.hero {
	height: 370px;
	background-image: url(img/ladies.jpg);
	background-size: cover;
	/*horizontal,vertikal*/
	background-position: 0 -90px;
	border-top: 5px solid purple;
	border-bottom: 5px solid lightgreen;
}

.main {
	padding: 10px;
	width: 600px;
	float: left;
	box-sizing: border-box;;
}
.main h2 {
	font-size: 30px;
	font-weight: bold;
}
.penulis {
	font-size: 13px;
}

.main .penulis a {
	text-decoration: none;
	color: salmon;
	font-weight: bold;
}
.main .penulis a:hover{
	color: red;
	font-weight: bold;
}

.main p {
	font-size: 15px;
	margin-bottom: 10px;

}

.sidebar{
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3{
	font-weight: bold;
	color: #666;
}
.sidebar img{
	width: 50px;
	height: 70px;
	float: left;
	padding-right: 10px;
}

.sidebar p{
	font-size: 12px;
	line-height: 18px;
	font-family: arial;
}
.footer	{
	background-color: #333;
	padding: 13px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 14px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




